@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">

    <div class="content ">
        @Body
    </div>

    <div class="footer">
        <footer class="page-footer font-small blue">
            <div class="footer-copyright text-center py-3">
                Copyright © 2020 Sureerat Poonsuk
            </div>
        </footer>
    </div>
</div>